.header {
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #272727;
  padding: 0 16px;
  min-height: 30px;
  user-select: none;
}

.buttons {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.move {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  -webkit-app-region: drag;
}

.title {
  -webkit-app-region: drag;
}
.settings,
.maximize,
.selected,
.close {
  width: 14px;
  height: 14px;
  cursor: pointer;

  &:hover {
    fill: var(--select);
  }
}

.selected {
  fill: var(--select);
}

.settings {
  fill: var(--disabled);
}

.maximize {
  fill: var(--warn);
}

.close {
  fill: var(--error);
}
